-----BEGIN CERTIFICATE-----
MIIDfjCCAmYCCQDjjgWXin+RUDANBgkqhkiG9w0BAQsFADBSMQswCQYDVQQGEwJB
VTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMQswCQYDVQQDDAJDQTAeFw0xNzAyMDMxNDAyMjNaFw0xNzAzMDUx
NDAyMjNaMBoxGDAWBgNVBAMTD0hvc3BpdGFsIFNlcnZlcjCCAbgwggEsBgcqhkjO
OAQBMIIBHwKBgQD9f1OBHXUSKVLfSpwu7OTn9hG3UjzvRADDHj+AtlEmaUVdQCJR
+1k9jVj6v8X1ujD2y5tVbNeBO4AdNG/yZmC3a5lQpaSfn+gEexAiwk+7qdf+t8Yb
+DtX58aophUPBPuD9tPFHsMCNVQTWhaRMvZ1864rYdcq7/IiAxmd0UgBxwIVAJdg
UI8VIwvMspK5gqLrhAvwWBz1AoGBAPfhoIXWmz3ey7yrXDa4V7l5lK+7+jrqgvlX
TAs9B4JnUVlXjrrUWU/mcQcQgYC0SRZxI+hMKBYTt88JMozIpuE8FnqLVHyNKOCj
rh4rs6Z1kW6jfwv6ITVi8ftiegEkO8yk8b6oUZCJqIPf4VrlnwaSi2ZegHtVJWQB
TDv+z0kqA4GFAAKBgQDR9qnUP3pGS4P9WgRDlePSwiPIbnzeTUwtw1WliOIz5VLI
f8zbXpZidZVlxvxHQ/oL547L8MPDwyflu9id16XVTNkZVl/K8/MvIFv/eKEnp3sT
DaoyNNQQGcprhWAoJx0imfstD2jLqaq1Yxs1a6B0jdQxTXpEWNzOHmLcMq2MDTAN
BgkqhkiG9w0BAQsFAAOCAQEAJh5tFqjG1VJkp6XIpghB10f28N1zXcTvSvjTFEro
DcSGuhazeNcQC9jFo4tn1fJhkno3PB/q5ci88j2ew3BwcobUgc4LIss4bLKEPu6S
SfxOCAu9x8OaaoQ0NkFHkq18iSpdGfCVLjSLVRIlCgJZSANkU+/azSUe13AmV3Sl
V903JWex+ZvYrrSCWxh4XcQp999gxZ5usiyOKxA6Mh3WDEYYa2/jprAg27hzu3cs
zH6URyNs8w0L2+408jK1Xk9mbHQcxgq3xOZc0eJLYhQrFbtNhBcVrtQA5Fat7sLX
LevviIMqZ/i9inA572PZh+wgkipSxaKMbFW5hRgzztDxBw==
-----END CERTIFICATE-----
