-----BEGIN CERTIFICATE-----
MIIDfTCCAmUCCQDKitXwG19coDANBgkqhkiG9w0BAQsFADBSMQswCQYDVQQGEwJB
VTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMQswCQYDVQQDDAJDQTAeFw0xNzAzMDcxMDMzMzBaFw0xNzA0MDYx
MDMzMzBaMBoxGDAWBgNVBAMTD0hvc3BpdGFsIFNlcnZlcjCCAbcwggEsBgcqhkjO
OAQBMIIBHwKBgQD9f1OBHXUSKVLfSpwu7OTn9hG3UjzvRADDHj+AtlEmaUVdQCJR
+1k9jVj6v8X1ujD2y5tVbNeBO4AdNG/yZmC3a5lQpaSfn+gEexAiwk+7qdf+t8Yb
+DtX58aophUPBPuD9tPFHsMCNVQTWhaRMvZ1864rYdcq7/IiAxmd0UgBxwIVAJdg
UI8VIwvMspK5gqLrhAvwWBz1AoGBAPfhoIXWmz3ey7yrXDa4V7l5lK+7+jrqgvlX
TAs9B4JnUVlXjrrUWU/mcQcQgYC0SRZxI+hMKBYTt88JMozIpuE8FnqLVHyNKOCj
rh4rs6Z1kW6jfwv6ITVi8ftiegEkO8yk8b6oUZCJqIPf4VrlnwaSi2ZegHtVJWQB
TDv+z0kqA4GEAAKBgEUt/qCPnIieMcZJQ82UegCiIQM3ZuB0UIJSIbEKIypnc8Vv
U+HlCN4Bqp7wdkwHlfMZ0HBShX6zvXawPR/GxMTVlc6lu1ogP4E3ow1FXa9klVv1
qaIaFv6zvTaMF0/VFfqUfrxroX8Vc51vIGxQqoZ/tmooRiv60K6rRYYynbtxMA0G
CSqGSIb3DQEBCwUAA4IBAQAkvMDbExR4J/XRa09AgYLRQDsxUWrwM2aHNgFiOsSj
DfSxtimrK8CQ/3tv/bSWr/vLz/npcld+2qyA2i3s1/ShBmzdwz6TIuwpWh3OnhEu
oLMQU0p3DSGEZiysequLI7eTlGn6uA+ovKhRHUHFMDFSUnKMFw5F4YuL9PJxhktU
c//ykNDunG9z/nPafIt602X8xURIvEx9ac9e15aOfDmrBT0qGeBPt20YdFQMQghi
7QedJPYP9QPmUGziIGPyYxtp+0zIt9jpOvdI1wV93kgoFfX/XJlM4gaM4A8KWSGE
1boKWYS7DDo8a5Z1Jqp62DhQlRNDCULCTxXeeW63xcNy
-----END CERTIFICATE-----
