-----BEGIN CERTIFICATE-----
MIIDeTCCAmECCQDjjgWXin+RTzANBgkqhkiG9w0BAQsFADBSMQswCQYDVQQGEwJB
VTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMQswCQYDVQQDDAJDQTAeFw0xNzAyMDMxMzQ5NTZaFw0xNzAzMDUx
MzQ5NTZaMBUxEzARBgNVBAMTCkdvdmVybm1lbnQwggG4MIIBLAYHKoZIzjgEATCC
AR8CgYEA/X9TgR11EilS30qcLuzk5/YRt1I870QAwx4/gLZRJmlFXUAiUftZPY1Y
+r/F9bow9subVWzXgTuAHTRv8mZgt2uZUKWkn5/oBHsQIsJPu6nX/rfGG/g7V+fG
qKYVDwT7g/bTxR7DAjVUE1oWkTL2dfOuK2HXKu/yIgMZndFIAccCFQCXYFCPFSML
zLKSuYKi64QL8Fgc9QKBgQD34aCF1ps93su8q1w2uFe5eZSvu/o66oL5V0wLPQeC
Z1FZV4661FlP5nEHEIGAtEkWcSPoTCgWE7fPCTKMyKbhPBZ6i1R8jSjgo64eK7Om
dZFuo38L+iE1YvH7YnoBJDvMpPG+qFGQiaiD3+Fa5Z8GkotmXoB7VSVkAUw7/s9J
KgOBhQACgYEAziFVAFIfajcRQxuBZpIv+zh3WkGZTrR7w7ZY3wfmLJGgd9cMCw5H
n0xDuivyP8kutVhUk77eWkBF0DN/6nd0zrU5D11Wyy9RZOP7L/rod6cNXeiT+ucW
i1ph4gBREBWtHggBym9cvSV4cFQeu9ycQEGYLg5MiyhrH7zQK+mzvuEwDQYJKoZI
hvcNAQELBQADggEBAGQUuUdwV7vJK52QodqUTiqz9wmc+qPT98Y2bkAJMXXt+mjw
R24TcCtZ5MFhMhwdFYvcARrhWUG0SLziLu2PZWtM8b0sTGXdLJ9F0gtyb/Bl0aiY
9cI910t1orQ2/cbzJGR47cQGol+WmTnlbFWjkdkdYZdC5B2vvZiUeg+71hjmFb0d
8eauSFwL1jVsvu3oLmUwGLfQDvpxcUGBeyT/lmKefEnEyjd26Cxdbst9iVzJypPN
CUpmq6lbtZSTgkKouSji0BoePUkcqjv9rJejcfMCzOklljGEImO2w11hEeel51tO
pYwBY0ZnzfHle4rlvF9K4lmlX2Y626SudUPWJno=
-----END CERTIFICATE-----
