-----BEGIN CERTIFICATE-----
MIIDeTCCAmECCQDKitXwG19cnjANBgkqhkiG9w0BAQsFADBSMQswCQYDVQQGEwJB
VTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMQswCQYDVQQDDAJDQTAeFw0xNzAzMDcxMDMwMTBaFw0xNzA0MDYx
MDMwMTBaMBUxEzARBgNVBAMTCkdvdmVybm1lbnQwggG4MIIBLAYHKoZIzjgEATCC
AR8CgYEA/X9TgR11EilS30qcLuzk5/YRt1I870QAwx4/gLZRJmlFXUAiUftZPY1Y
+r/F9bow9subVWzXgTuAHTRv8mZgt2uZUKWkn5/oBHsQIsJPu6nX/rfGG/g7V+fG
qKYVDwT7g/bTxR7DAjVUE1oWkTL2dfOuK2HXKu/yIgMZndFIAccCFQCXYFCPFSML
zLKSuYKi64QL8Fgc9QKBgQD34aCF1ps93su8q1w2uFe5eZSvu/o66oL5V0wLPQeC
Z1FZV4661FlP5nEHEIGAtEkWcSPoTCgWE7fPCTKMyKbhPBZ6i1R8jSjgo64eK7Om
dZFuo38L+iE1YvH7YnoBJDvMpPG+qFGQiaiD3+Fa5Z8GkotmXoB7VSVkAUw7/s9J
KgOBhQACgYEA4kpprVjjhhJ5hSis58uNLCW3n10bUVBP6c7IABjaTEmd1JuDUkUO
NyfBJqp6wZP69+ZpANKfD/TQc9o1CuwLBKfE4dju6fjqP1bLucp8EhDzs018LXkq
VXlLKDT5sK+rBK1x4OUzchMG77i2w2dJ6Tshxql8xB3oscsktU1FSyEwDQYJKoZI
hvcNAQELBQADggEBAAdmSRYnkxLbt5U2c1ZMKxhnJ73pwdT7BKFOYiMlmpB+pb7M
AstdGav006bvrH2Mv4agnKje8KDAp2NbT9U062TZyfZcEy1c32Qf6MPNCsCZqDIo
0RzYikB3Zr6mVXizrY9qmH6LnQNKBA3pY+Ob/6jY2I+jYPyXxBdZNQjVHr+EiJ6x
C0Yl4RlcNRPzY4mN7OdShT0p8vVVVZ/lJaY1Zmlb78fVu4t/nY211cZlpFjLv9j+
me2BEAVkomL4/D6yZs+KTcqV9f1FvoKAHqEbHm693BvPYB7WHzsUIryLP4rRfKyX
XljJ6ZhcVt2E+wKD70wr4rXFA0WxQxt1WOdlPiw=
-----END CERTIFICATE-----
