-----BEGIN CERTIFICATE-----
MIIDeTCCAmECCQCYItroTtzOIzANBgkqhkiG9w0BAQsFADBSMQswCQYDVQQGEwJB
VTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMQswCQYDVQQDDAJDQTAeFw0xNzAyMDYxMDIyMzdaFw0xNzAzMDgx
MDIyMzdaMBUxEzARBgNVBAMTCkdvdmVybm1lbnQwggG4MIIBLAYHKoZIzjgEATCC
AR8CgYEA/X9TgR11EilS30qcLuzk5/YRt1I870QAwx4/gLZRJmlFXUAiUftZPY1Y
+r/F9bow9subVWzXgTuAHTRv8mZgt2uZUKWkn5/oBHsQIsJPu6nX/rfGG/g7V+fG
qKYVDwT7g/bTxR7DAjVUE1oWkTL2dfOuK2HXKu/yIgMZndFIAccCFQCXYFCPFSML
zLKSuYKi64QL8Fgc9QKBgQD34aCF1ps93su8q1w2uFe5eZSvu/o66oL5V0wLPQeC
Z1FZV4661FlP5nEHEIGAtEkWcSPoTCgWE7fPCTKMyKbhPBZ6i1R8jSjgo64eK7Om
dZFuo38L+iE1YvH7YnoBJDvMpPG+qFGQiaiD3+Fa5Z8GkotmXoB7VSVkAUw7/s9J
KgOBhQACgYEAo4NfAnBS6zwoDN7g0nQGO6Zw2lEqz2b8cMKsKUiKMq8KdAbeFkwQ
TV4GgMn57kuftIxTqGs8JuOfuU94t0hvXTuP9iy2+wjevSGCQ5D5g5LtzMfUUtp7
yVmx/WpGzRc7t7nRDQ1vpOrLysoq9EjZzomwX+0u3V1+EGw+84ccVb4wDQYJKoZI
hvcNAQELBQADggEBALBqegmOhTtYzFLStphk2d0UXgr6hlLfs4ieNhznqeEAOEAs
UryrDncEx1zj+y6uMMINwZSz1Ra3oJ4lAHwKRoOV2X/BMmxoiJiJDZAj98spUfe7
EzOIf0/U57dTTcyd6tDUynw85fC5o626O4reh3VrCNysq7oH9y+A2KbxfjArX3LF
fdbYp50pqAxR+5mptoBl9wFXXrp7Nn8TqSClRvfK9L8VrMaPqT10svDoSJmFiMtV
aH7+qdpzfaHREPjiiTZJmSKhhocm5I7h7LwGWMmKEhUcrpVZ0070enSW5XnPtQnm
zhj7es8YSXT9aO9kgMlFC7P3j43htRDLqntVnOs=
-----END CERTIFICATE-----
